div{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.pic{
  width: 320px;
  height: 330px;
  padding: auto;
  border: 5px solid gray;
}

.life{
  border: 2px solid black;
  outline: green solid 10px;
  margin: auto;
  padding: 20px;
  text-align: center;
  outline-style: solid;
  outline-color: red;
  outline-width: thin;



}